@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  --font-family: "Space Mono";
  --font-size: 24px;
  --font-weight-700: 700;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--light-grayish-cyan);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-700);
}

.logo {
  margin: 0 auto 50px auto;
}

.container {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: 25px;
  width: 75%;
  margin: auto;
  border-radius: 15px;
}

.form-container,
.output-container {
  flex: 0 1 100%;
  padding: 0 25px;
}

.output-container {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
}

.output-values-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

input {
  background-color: var(--very-light-grayish-cyan);
  display: block;
  text-align: right;
  width: 100%;
  color: var(--very-dark-cyan);
  border: 2px solid transparent;
  padding: 5px;
}
input:hover,
input:focus,
input:active {
  cursor: pointer; 
  border: 2px solid var(--strong-cyan); 
}

#bill {
  background-image: url('./assets/icon-dollar.svg');
  margin-bottom: 25px;
}

#person {
  background-image: url('./assets/icon-person.svg');
}

#bill,
#person {
  background-repeat: no-repeat;
  background-position: 10px center;
}

.form-label {
  font-size: 1rem;
  color: var(--grayish-cyan);
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 25px;
}

.custom-input {
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  text-align: right;
  border: 2px solid var(--strong-cyan);
  border-radius: 7px;
}
.custom-input::placeholder{
  text-align: center;
  color: var(--grayish-cyan);
  border: 2px solid var(--very-light-grayish-cyan);
}

button {
  border-radius: 7px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}

button:active {
  background-color: (--strong-cyan);
}

.output-label {
  font-size: 1rem;
  align-self: center;
}

.per-person-label {
  color: var(--grayish-cyan);
  display: block;
  font-size: 0.7rem;
}

.output-value {
  font-size: 2.5rem;
  color: var(--strong-cyan);
  text-align: right;
}

.reset-btn {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  width: 100%;
}
.reset-btn:disabled {
  background-color: hsl(183, 79%, 24%);
  color: var(--very-dark-cyan);
  cursor: not-allowed;
}

@media (max-width: 769px) {
  .logo {
    margin: 15px auto;
  }
  
  .container {
    flex-direction: column;
    width: 100%;    
    padding: 15px;
  }

  .output-container {
    margin-top: 15px;
  }

  .form-container {
    padding: 5px;
  }

  .button-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .reset-btn {
    margin-top: 20px;
  }
}